@using WheelsMarket.Services.Vehicles.ViewModel

<h1>Brand Edition</h1>

<a asp-controller="Edition" asp-action="Create" class="btn btn-warning">Add Edition</a>

<table class="table">
  
    <tbody>
@*         @foreach (AllVehicleViewModel vehicle in this.Model)
        {
                                       <tr>
                                    <td>@vehicle.Id</td>
                                    <td>@vehicle.Color</td>
                                    <td>@vehicle.Distance</td>
                                    <td>@vehicle.Fuel</td>
                                    <td>@vehicle.EditionName</td>
                                    <td>@vehicle.BrandName</td>

                                </tr>
        }


    </tbody>
</table>
 *@

                                       <div class="text-center row">
    @foreach (AllVehicleViewModel vehicle in this.Model)
    {
    <div class="card col-4" style="width: 20rem;">

    <img class="card-img-top" src="@vehicle.Color"  height="350" alt="Book Image">
    <div class="card-body">

                    <h5 class="card-title mt-1">@vehicle.Distance</h5>
    <p class="mb-0">Author: @vehicle.Fuel</p>
    <p>Publisher: @vehicle.EditionName</p>
    <p>Publisher: @vehicle.BrandName</p>
                                                    <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.Id" class="btn btn-danger">Delete</a>

    </div>

               
    </div>

    }
</div>
   </tbody>
</table>