@using WheelsMarket.Services.Vehicles.ViewModel;
@model AllVehicleViewModel

<form method="post" action="ShowAllInfoForAVehicle" class="mt-5">

    <br />

    <h1 style="color:#fc6c85">Games:</h1>

    <table class="table">
        <thead>
            <tr style="color:#fc6c85">
                <th>Name</th>
                <th>Price</th>
                <th>Date of manufacture</th>
                <th>Type of fuel</th>
                <th>Conditiond</th>
                <th>Volume</th>
                <th>Transmission</th>
                <th>Section</th>
                <th>Type of Section</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color:#fc6c85">
        <img class="card-img-top" src="@Model.ImageURL"  height="350">

                <td>@Model.BrandName</td>
                <td>@Model.EditionName</td>
                <td>@Model.Price</td>
                <td>@Model.Year</td>
                <td>@Model.Fuel</td>
                <td>@Model.TypeSection</td>
                <td>@Model.TypeType</td>

            </tr>
        </tbody>
    </table>
</form>
