@using WheelsMarket.Services.Vehicles.ViewModel;
@model AllVehicleViewModel

<form method="post" action="ShowAllInfoForAVehicle" class="mt-5">

    <br />

    <h1 style="color:#fc6c85">Games:</h1>

    <table class="table">
        <thead>
            <tr style="color:#fc6c85">
                <th>Марка</th>
                <th>Модел</th>
                <th>Цена</th>
                <th>Дистанция</th>
                <th>Тип двигател</th>
                <th>Състояние</th>
                <th>Обем на двигателя</th>
                <th>Година на производство</th>
                <th>Скоростна кутия</th>
                <th>Евро стандарт</th>
                <th>Мощност</th>
                <th>Къде се намира</th>
                <th>Vin номер</th>
                <th>Допълнителна информация</th>

            </tr>
        </thead>
        <tbody>
            <tr style="color:#fc6c85">
        <img class="card-img-top" src="@Model.ImageURL"  height="500">

                <td>@Model.BrandName</td>
                <td>@Model.EditionName</td>
                <td>@Model.Price</td>
                <td>@Model.Distance</td>
                <td>@Model.Fuel</td>
                <td>@Model.Volume</td>
                <td>@Model.Year</td>
                <td>@Model.Тransmission</td>
                <td>@Model.EuroStandart</td>
                <td>@Model.HoursePower</td>
                <td>@Model.Location</td>
                <td>@Model.VinNumber</td>
                <td>@Model.MoreInformation</td>

            </tr>
        </tbody>
    </table>
</form>
