@using WheelsMarket.Services.Vehicles.ViewModel

<body style="background-color:#ab36cf">

 <form asp-action="ShowSelectedInformationForAllVehicles" id="search" method="post">
        <div class="input-group md-form form-sm form-2 pl-0">
            <input name="BrandName" class="form-control my-0 py-1 red-border" type="text" placeholder="Search..." />
            <div class="input-group-append">
                <span class="input-group-text red lighten-3" style="background-color:#6A3889">
                    <input type="submit" value="Search" style="border:none; background-color:#6A3889" />

                </span>
            </div>
        </div>
        <br>
    </form>

    <a asp-controller="Vehicle" asp-action="ByPriceFilter" class="btn btn-primary" style="background-color:#4246d7;border:none;color:black;border-radius:10px">By Price</a>
    <a asp-controller="Vehicle" asp-action="ByYearsFilter" class="btn btn-primary" style="background-color:#4246d7;border:none;color:black;border-radius:10px">By Year</a>
    <a asp-controller="Vehicle" asp-action="ByTransFilter" class="btn btn-primary" style="background-color:#4246d7;border:none;color:black;border-radius:10px">By Trans</a>
    <a asp-controller="Vehicle" asp-action="ByFuelFilter" class="btn btn-primary" style="background-color:#4246d7;border:none;color:black;border-radius:10px">By Fuel</a>
    <a asp-controller="Vehicle" asp-action="ByEditionFilter" class="btn btn-primary" style="background-color:#4246d7;border:none;color:black;border-radius:10px">By Edition</a>
    <a asp-controller="Vehicle" asp-action="ByBrandFilter" class="btn btn-primary" style="background-color:#4246d7;border:none;color:black;border-radius:10px">By Brand</a>
    <a asp-controller="Vehicle" asp-action="ByHoursePowerFilter" class="btn btn-primary" style="background-color:#4246d7;border:none;color:black;border-radius:10px">By House Power</a>
<br>
<br>
    <table class="table">
        <tbody>
            <div class="text-center row">
                @foreach (AllVehicleViewModel vehicle in this.Model)
                {
                    <div class="card col-4" style="max-width: 20rem; background-color:#8A2BE2; padding:10px; margin:5px; border-radius:10px; overflow: hidden;">
                        <img class="card-img-top" src="@vehicle.ImageURL" style="width: 300px; height: 190px; border-radius:10px">
                        <div class="card-body text-left">
                            <p class="mb-0">Цена: @vehicle.Price</p>
                            <p class="mb-0">Дистанция: @vehicle.Distance</p>
                            <p class="mb-0">Гориво: @vehicle.Fuel</p>
                            <p class="mb-0">Обем: @vehicle.Volume</p>
                            <p class="mb-0">Година: @vehicle.Year</p>
                            <p class="mb-0">Марка: @vehicle.BrandName</p>
                            <p class="mb-0">Модел: @vehicle.EditionName</p>
                            <p class="mb-0">Модел: @vehicle.IsApproved</p>
                            <br>
                            <div class="mb-3">
                                <a asp-controller="Vehicle" asp-action="ShowAllInfoForAVehicle" asp-route-id="@vehicle.Id" class="btn btn-danger">Check</a>
                            </div>
                            <form class="input-group-sm" asp-controller="Vehicle" asp-action="FavouriteVehicle" asp-route-id="@vehicle.Id" method="post">
                                <button type="submit" class="fs-6 btn btn-success mb-3 p-2" style="border-radius: 50%; background-color:#fb0704; border-color:#fb0704; transition: background-color 0.3s ease; padding: 0.5em 1em; text-decoration: none; color: darkred; border:none; width: 50px; height: 50px; font-size: 24px;" onmouseover="this.style.backgroundColor='#FFD89C'" onmouseout="this.style.backgroundColor='#FF7722'">
                                    <span style="font-size: 24px;">💗</span>
                                </button>
                            </form>
                            <div class="mb-3">
                                <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.Id" class="btn btn-danger mr-3">Delete</a>
                            </div>
                            <div class="mb-3">
                                <a asp-controller="Vehicle" asp-action="IsApproved" asp-route-id="@vehicle.Id" class="btn btn-danger mr-3">Approve</a>
                            </div>
                           
                           
                        </div>
                    </div>
                }
            </div>
        </tbody>
    </table>



</body>


