@using WheelsMarket.Services.Vehicles.ViewModel

<h1>Vehicles</h1>

<a asp-controller="Vehicle" asp-action="ByPriceFilter" class="btn btn-warning">By Price</a>
<a asp-controller="Vehicle" asp-action="ByYearsFilter" class="btn btn-warning">By Year</a>
<a asp-controller="Vehicle" asp-action="ByTransFilter" class="btn btn-warning">By Trans</a>
<a asp-controller="Vehicle" asp-action="ByFuelFilter" class="btn btn-warning">By Fuel</a>
<a asp-controller="Vehicle" asp-action="ByEditionFilter" class="btn btn-warning">By Edition</a>
<a asp-controller="Vehicle" asp-action="ByBrandFilter" class="btn btn-warning">By Brand</a>
<a asp-controller="Vehicle" asp-action="ByHoursePowerFilter" class="btn btn-warning">By House Power</a>


<table class="table">

    <tbody>

                                       <div class="text-center row">
            @foreach (AllVehicleViewModel vehicle in this.Model)
            {
        <div class="card col-4" style="width: 20rem;">

        <img class="card-img-top" src="@vehicle.ImageURL"  height="350">
        <div class="card-body">

        <p class="mb-0">Цена: @vehicle.Price</p>
        <p class="mb-0">Дистанция: @vehicle.Distance</p>
        <p class="mb-0">Гориво: @vehicle.Fuel</p>
        <p class="mb-0">Обем: @vehicle.Volume</p>
        <p class="mb-0">Година: @vehicle.Year</p>
        <p class="mb-0">Марка: @vehicle.BrandName</p>
        <p class="mb-0">Модел: @vehicle.EditionName</p>
                                                        <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.Id" class="btn btn-danger">Delete</a>
                                                        <a asp-controller="Vehicle" asp-action="ShowAllInfoForAVehicle" asp-route-id="@vehicle.Id" class="btn btn-danger">Check</a>
                                                                <form class="input-group-sm" asp-controller="Vehicle" asp-action="FavouriteVehicle" asp-route-id="@vehicle.Id" method="post">
                            <button type="submit" class="fs-6 btn btn-success mb-3 p-2" style="border-radius: 50%; background-color:#FF7722; border-color:#FF7722;
            transition: background-color 0.3s ease; padding: 0.5em 1em; text-decoration: none;
            color: darkred; border:none; width: 50px; height: 50px; font-size: 24px;"
                            onmouseover="this.style.backgroundColor='#FFD89C'" onmouseout="this.style.backgroundColor='#FF7722'">
                                <span style="font-size: 24px;">♡</span>
                            </button>
                        </form>

        </div>


        </div>

            }
</div>
   </tbody>
</table>


