@using WheelsMarket.Services.Vehicles.ViewModel

<h1>Vehicles</h1>

<a asp-controller="Vehicle" asp-action="ByPriceFilter" class="btn btn-warning">By Price</a>
<a asp-controller="Vehicle" asp-action="ByYearsFilter" class="btn btn-warning">By Year</a>
<a asp-controller="Vehicle" asp-action="ByTransFilter" class="btn btn-warning">By Trans</a>
<a asp-controller="Vehicle" asp-action="ByFuelFilter" class="btn btn-warning">By Fuel</a>


<table class="table">

    <tbody>

                                       <div class="text-center row">
            @foreach (AllVehicleViewModel vehicle in this.Model)
            {
        <div class="card col-4" style="width: 20rem;">

        <img class="card-img-top" src="@vehicle.ImageURL"  height="350">
        <div class="card-body">

        <p class="mb-0">Цена: @vehicle.Price</p>
        <p class="mb-0">Дистанция: @vehicle.Distance</p>
        <p class="mb-0">Гориво: @vehicle.Fuel</p>
        <p class="mb-0">Обем: @vehicle.Volume</p>
        <p class="mb-0">Година: @vehicle.Year</p>
        <p class="mb-0">Марка: @vehicle.BrandName</p>
        <p class="mb-0">Модел: @vehicle.EditionName</p>
                                                        <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.Id" class="btn btn-danger">Delete</a>
                                                        <a asp-controller="Vehicle" asp-action="ShowAllInfoForAVehicle" asp-route-id="@vehicle.Id" class="btn btn-danger">Check</a>

        </div>


        </div>

            }
</div>
   </tbody>
</table>